{% extends 'layout.twig' %}

{% block content %}
<p>Log in to your user account.</p>

{{ form_open() }}

{% if errors.any %}
<h4 class="has-text-danger">{{ errors.first }}</h4>
{% endif %}

<div class="field">
    {{ form_label('email', 'Email Address', {'class': 'label'}) }}
    <div class="control">
        {{ form_email('email', '', {'class': 'input'}) }}
    </div>
</div>
<div class="field">
    {{ form_label('password', 'Password', {'class': 'label'}) }}
    <div class="control">
        {{ form_password('password', {'class': 'input'}) }}
    </div>
</div>

{{ form_submit('Login', {'class': 'button is-primary'}) }}

{{ form_close() }}

<a href="/password/reset">Forgot your password?</a>

{% endblock %}
