<!DOCTYPE html>
<html>

<head>
  <title>{% if page.type == "single" %}{{ page.title }} | {% endif %}Iron Arachne</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page.description }}">
  <link rel="stylesheet" href="{{ asset('css/app.css') }}" type="text/css">
  <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/img/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <link rel="manifest" href="/img/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/img/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <script async defer data-domain="ironarachne.com" src="https://plausible.io/js/plausible.js"></script>
</head>

<body>
  <section class="hero is-dark">
    <div class="hero-body">
      <figure class="image is-128x128 is-pulled-left">
        <img src="{{ asset('img/ia-logo-small.png') }}" alt="Iron Arachne logo">
      </figure>
      <h1 class="title">Iron Arachne{% if page.type == "single" %} | {{ page.title }}{% endif %}</h1>
      <h2 class="subtitle">{{ page.subtitle }}</h2>
    </div>
  </section>
  <div class="container" id="app">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-start">
        <a class="navbar-item{% if page.title == "Iron Arachne" %} active{% endif %}" href="{{ route('index') }}">Main</a>
        <a class="navbar-item{% if page.title == "Quick Generators" %} active{% endif %}" href="{{ route('quick') }}">Quick Generators</a>
        <a class="navbar-item{% if page.title == "Cultures" %} active{% endif %}" href="{{ route('culture.index') }}">Cultures</a>
        <a class="navbar-item{% if page.title == "Regions" %} active{% endif %}" href="{{ route('region.index') }}">Regions</a>
        <a class="navbar-item{% if page.title == "Heraldry" %} active{% endif %}" href="{{ route('heraldry.index') }}">Heraldry</a>
    </div>
    <div class="navbar-end">
        {% if not auth_check() %}
        <div class="navbar-item">
            <div class="buttons">
                <a class="button is-small is-info" href="{{ route('login') }}">Login</a>
                <a class="button is-small is-info" href="{{ route('register') }}">Register</a>
            </div>
        </div>
        {% else %}
        <a class="navbar-item{% if page.title == "My Dashboard" %} active{% endif %}" href="{{ route('dashboard' ) }}">My Dashboard</a>
        <div class="navbar-item">
            <a class="button is-small is-info" href="{{ route('logout') }}"
            onclick="event.preventDefault();
                            document.getElementById('logout-form').submit();">
            Logout
        </a>
        <form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">
            {{ form_token() }}
        </form>
        </div>

        {% endif %}
      </div>
    </nav>
    <section class="section">
      <div class="columns">
        <div class="column content">
          {% block content %}{% endblock %}
        </div>
      </div>
    </section>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Iron Arachne</strong> is the ongoing project of
          <a href="https://benovermyer.com">Ben Overmyer</a>. You can find source code for most of these tools on
          GitHub at
          <a href="https://github.com/ironarachne/">github.com/ironarachne</a>.
        </p>
        <p>
          You can contact the author at <a href="mailto:ben@ironarachne.com">ben@ironarachne.com</a>.
        </p>
        <p>
          The Iron Arachne privacy policy is visible <a href="{{ route('privacy') }}">here</a>.
        </p>
      </div>
    </div>
  </footer>
  <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
    <script>
    (function(f, a, t, h, o, m){
        a[h]=a[h]||function(){
            (a[h].q=a[h].q||[]).push(arguments)
        };
        o=f.createElement('script'),
        m=f.getElementsByTagName('script')[0];
        o.async=1; o.src=t; o.id='fathom-script';
        m.parentNode.insertBefore(o,m)
    })(document, window, '//{{ page.fathom_domain }}/tracker.js', 'fathom');
    fathom('set', 'siteId', '{{ page.fathom_site_id }}');
    fathom('trackPageview');
    </script>
    <!-- / Fathom -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
  <script>
    {% block javascript %}{% endblock %}
  </script>
</body>

</html>
