{% extends 'layout' %}

{% block content %}
<h2 class="title is-2">The {{ culture.name }} Culture</h2>

<p>This culture is called the <em>{{ culture.name }}</em>. Its people are the {{ culture.adjective }}.</p>
<p>They speak {{ culture.language.name }}. {{ culture.language.description }}</p>

<h3 class="title is-3">Common Names</h3>
<div class="columns">
    <div class="column">
        <h4 class="title is-4">Male Names</h4>
        <ul>
            {% for name in culture.common_male_names %}
            <li>{{ name }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="column">
        <h4 class="title is-4">Female Names</h4>
        <ul>
            {% for name in culture.common_female_names %}
            <li>{{ name }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="column">
        <h4 class="title is-4">Family Names</h4>
        <ul>
            {% for name in culture.common_family_names %}
            <li>{{ name }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<h3 class="title is-3">Music</h3>
<p>{{ culture.music.description }}. Common instruments
include:</p>
<ul>
    {% for instrument in culture.music_style.instruments %}
    <li>{{ instrument.description }}</li>
    {% endfor %}
</ul>

<h3 class="title is-3">Clothing</h3>
<p>As the {{ culture.adjective }} hail originally from a {{ culture.home_climate.name }}, their clothing
style is appropriate for that kind of region. They often wear the following:
</p>
<h4 class="title is-4">Male Clothing</h4>
<ul>
    {% for item in culture.clothing_style.common_male_items %}
    <li>{{ item }}</li>
    {% endfor %}
</ul>
<h4 class="title is-4">Female Clothing</h4>
<ul>
    {% for item in culture.clothing_style.common_female_items %}
    <li>{{ item }}</li>
    {% endfor %}
</ul>
<p>Common colors include {% for color in culture.clothing_style.common_colors %}
    {% if loop.revindex == 1 %} and{% endif %} {{ color }}{% if loop.revindex > 1 %}, {% endif %}{% endfor %}. 
    Decoration tends towards {{ culture.clothing_style.decorative_style }}.</p>
<p>Clothing is most often made of the following materials:</p>
<ul>
    {% for item in culture.clothing_style.common_materials %}
    <li>{{ item }}</li>
    {% endfor %}
</ul>
<div v-if="culture.clothing_style.CommonJewelry != null">
<p>For jewelry, some of the following are common:</p>
<ul>
    {% for item in culture.clothing_style.CommonJewelry %}
    <li>{{ item }}</li>
    {% endfor %}
</ul>
</div>

<h3 class="title is-3">Food and Drink</h3>
<p>Common dishes for the {{ culture.adjective }} include:</p>
<ul>
{% for item in culture.food_style.common_dishes %}
<li>{{ item }}</li>
{% endfor %}
</ul>
<p>As far as eating customs go, they have the following:</p>
<ul>
{% for item in culture.food_style.eating_traits %}
<li>{{ item }}</li>
{% endfor %}
</ul>
{% if culture.food_style.breads %}
<div>
    <p>Common breads include:</p>
    <ul>
        {% for item in culture.food_style.breads %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if culture.food_style.alcoholic_drinks %}
<div>
    <p>The most common alcoholic beverages are:</p>
    <ul>
        {% for item in culture.food_style.alcoholic_drinks %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<h3 class="title is-3">Religion</h3>
<p>The {{ culture.adjective }} have a {{ culture.religion.type }} outlook. They gather in
{{ culture.religion.gathering_place }}s.</p>
{% if culture.religion.pantheon.deities|length > 0 %}
    <div class="content">
        <h4 class="title is-4">Deities</h4>
        <p>The deities of the {{ culture.adjective }} are as follows:</p>
        {% for deity in culture.religion.pantheon.deities %}
        <div class="content">
            <h5 class="title is-5">{{ deity.name }}</h5>
            <p>{{ deity.description }}</p>
        </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
