{% extends 'layout' %}

{% block content %}
<h1 class="is-title is-1">The {{ region.Class.Name }} of {{ region.Name }}</h1>
<p>The {{ region.Class.Name }} of {{ region.Name }} is ruled by {{ region.RulerTitle }} {{ region.Ruler.FirstName }} {{ region.Ruler.LastName }}. It's a {{ region.Biome }} region, and its capital is {{ region.Capital }}.</p>
<div class="box">
    <article class="media">
        <div class="media-left">
        <figure class="image is-320x420">
            <img src="/region/{{ page.id }}/ruler-device.svg" class="image">
            <p><em>{{ region.RulerBlazon }}</em></p>
        </figure>
        </div>
        <div class="media-content">
        <p class="title">{{ region.Ruler.FirstName }} {{ region.Ruler.LastName }}</p>
        <p class="subtitle">{{ region.RulerTitle }} of {{ region.Name }}</p>
        <p><strong>Race:</strong> {{ region.Ruler.Race.Name }}</p>
        <p><strong>Gender:</strong> {{ region.Ruler.Gender }}</p>
        <p><strong>Age:</strong> {{ region.Ruler.Age }} years ({{ region.Ruler.AgeCategory }})</p>
        <p><strong>Height:</strong> {{ region.Ruler.Height }} in.</p>
        <p><strong>Weight:</strong> {{ region.Ruler.Weight }} lbs.</p>
        <p><strong>Hair:</strong> {{ region.Ruler.HairColor }} and {{ region.Ruler.HairStyle }}</p>
        <p><strong>Eyes:</strong> {{ region.Ruler.EyeColor }}</p>
        <p><strong>Hobby:</strong> {{ region.Ruler.Hobby }}</p>
        <p><strong>Motivation:</strong> {{ region.Ruler.Motivation }}</p>
        <p><strong>Traits: </strong> 
        {% for trait in region.Ruler.PsychologicalTraits %}
        <span>{{ trait }}{% if not loop.last %}, {% endif %}</span>
        {% endfor %}
        </p>
        </div>
    </article>
</div>

<div class="columns">
    <div class="column">
        <h4 class="title is-4">Notable Towns in {{ region.Name }}</h4>
        {% for town in region.Towns %}
        <div class="content">
            <h5 class="title is-5">{{ town.townName }}{% if town.townName == region.Capital %}<span>, the capital and
                {{ region.RulerTitle }} {{ region.Ruler.LastName }}'s home</span>{% endif %}</h5>
            <p><strong>Population:</strong> {{ town.population }} ({{ town.category.name }})</p>
            <p><strong>Mayor:</strong> {{ town.mayor.FirstName }} {{ town.mayor.LastName }}, a
                {{ town.mayor.Age }}-year-old {{ town.mayor.Gender }} {{ town.mayor.Race.Name }} motivated by
                {{ town.mayor.Motivation }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="column">
        <h4 class="title is-4">Notable Organizations in {{ region.Name }}</h4>
        {% for organization in region.Organizations %}
        <div class="content">
            <h5 class="title is-5">{{ organization.Name }}</h5>
            <p><strong>Type:</strong> {{ organization.Type.Name }}</p>
            <p><strong>Size:</strong> {{ organization.SizeClass.Name }}, with {{ organization.Size }} members</p>
            <p><strong>Primary Trait:</strong> {{ organization.PrimaryTrait }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}